
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,700;1,300&display=swap');

body {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
padding: 0;
width: 100%;
background-color: #1b1b32;
font-size: 16px;
}

h1 {
  text-align: center;
}
form {
      display: flex;
      justify-content: center;
}
code {
    background-color: whitesmoke;
}

section, header {
    margin: 20px;
}

.example {
  padding: 1rem;
  border-radius: 1rem;
}
code, .example {
  
  background-color: #1b1b32;
  color: #ffffff;
}

.field {
  width: 360px;
		background: #fff;
		font: inherit;
		box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
		border: 0;
		outline: 0;
    padding: 10px 15px;
}
.btn {
  display: inline-block;
	background: transparent;
	font: inherit;
	border: 0;
	outline: 0;
	transition: all 200ms ease-in;
	cursor: pointer;
 background:#4d63ee;
		color: #ffffff;
		box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
		border-radius: 2px;
		padding: 12px 36px;
}

.btn:active {
  background:#7f8ff4;

}
.btn:hover {
  
  background: #7f8ff4;

}

.txt-center {
  text-align: center;
}
.txt-white {
  color: #ffffff
}